{% extends 'index.html'%}
{% block title %}
  ShopKeeping
{% endblock %}


{% block content %}
<div class="container-fluid">
 <div class="Card">
	<a href="{% url 'product_create' %}"><button type="button" class="btn btn-primary">Add Product</button></a>
 
	 <table class="table">
        <thead>
            <tr>
            	<th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Buying Price</th>
                <th scope="col">Selling Price</th>
                <th scope="col">Profit</th>
            </tr>
        </thead>
        <tbody>
            {% for products in product %}
            <tr>
            	<th scope="row">{{ products.id }}</th>
                <td>{{ products.name }}</td>
                <td>{{ products.buying_price }}</td>
                <td>{{ products.selling_price }}</td>
                <td>{{ products.profit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
 </div>
</div>

{% endblock %}